
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background: linear-gradient(45deg, #9fac2b, #81b622);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont {
    background: white;
    width: 80%;
    padding:2rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px black;
}

h1{
    text-shadow:2px 2px 2px #6d971d;
}

.input-cont{
    background-color:#ebf0bc;
    display: flex;
    align-items: center;
    border-radius: 1.5rem;
    margin: 1rem 0;
    box-shadow: 0 0 7px rgb(231, 222, 222);
}

input{
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size:1.3rem ;
}

input::placeholder{
     font-size: 1rem; 
}

.btn{
    outline: none;
    border: none;
    color: white;
    background-color: #81b622;
    padding: 0.7rem 2rem;
    border-radius: 1.5rem;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 900;
}

.btn:hover{
    background-color:  #6d971d;
    transition: 0.5s ease;
}

ul{
    padding: 0.5rem 1rem;
}

ul li{
    padding: 0.7rem 2.2rem;
    list-style: none;
    cursor: pointer;
    font-size: 1.2rem;
    /* user-select if you double-click on some text it will be selected/highlighted */
    user-select: none;
    position: relative;
}

ul li::before{
    content:'';
    position: absolute;
    top: 13px;
    left: 2px;
    background-image:url(unchecked-17-512.png) ;
    height: 1.2rem;
    width: 1.2rem;
    background-size: cover;
}

li.chkd{
    color: #555;
    text-decoration: line-through;
}

li.chkd::before{
    background-image:url(Green-check-mark-icon-on-transparent-background-PNG.png) ;
    height: 1.6rem;
    width: 1.6rem;
    top: 8px;
    left: -1px;
}

li span{
    position: absolute;
    top: 11px;
    right: 2px;
    font-size: 1.5rem;
    font-weight: 900;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    text-align: center;
    line-height: 1.45rem;
}

li span:hover{
    background-color: #ebf0bc;
}
